/* Box sizing rules */
*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

/* Remove default margin and padding */
html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
blockquote {
    margin: 0;
    padding: 0;
}


/* Add border box to images */
img {
    border: 0;
}

/* Styling the text */

h1 {
    font-size: 5.8rem;
    color: #161617;
    font-weight: 900;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

h2 {
    font-size: 3.2rem;
    margin-bottom: 2rem;
    color: #333;
    font-weight: bold;
}

p, a, li {
    font-size: 1.6rem;
    margin: 2rem 0 4rem 0;
    font-weight: 300;
    letter-spacing: 0.05rem;
    line-height: 1.65;
    color: #555;
}

/* Remove anchor text decoration */
a {
    text-decoration: none;
    line-height: 0;
    color: #007bff;
    transition: color 0.3s ease;
}

a:hover {
    color: #0056b3;
}

/* Remove list styles */
ul,
ol,
li {
    list-style: none;
    margin: 0;
}

/* Common styling across all the pages */

/* CSS */
button {
    background-color: #007bff;
    border-radius: 2.4rem;
    border-style: none;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    flex-shrink: 0;
    font-size: 1.6rem;
    font-weight: 400;
    height: 4rem;
    padding: 0.3rem 1.2rem;
    text-align: center;
    text-shadow: rgba(0, 0, 0, 0.25) 0 3px 8px;
    transition: all 0.5s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

button:hover {
    background-color: #0056b3;
    border: 0.1rem solid #0056b3;
    color: #fff;
    transition-duration: 0.1s;
}

@media (min-width: 768px) {
    button {
        padding: 0 2.6rem;
    }
}


.card {
    max-width: 26rem;
    /* height: fit-content; */
    border-radius: 20px;
    background: #f5f5f5;
    position: relative;
    padding: 1rem;
    border: 2px solid #c3c6ce;
    transition: 0.5s ease-out;
    overflow: visible;
   }
   
   .card-button {
    transform: translate(-50%, 125%);
    width: 60%;
    border-radius: 1rem;
    border: none;
    background-color: #008bf8;
    color: #fff;
    font-size: 1.5rem;
    padding: .5rem 1rem;
    position: absolute;
    left: 50%;
    bottom: 0;
    opacity: 0;
    transition: 0.3s ease-out;
   }
   
   /*Hover*/
   .card:hover {
    border-color: #008bf8;
    box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.25);
   }
   
   .card:hover .card-button {
    transform: translate(-50%, 50%);
    opacity: 1;
   }